@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.url{
    cursor: url(/img/adam_ugly_ass_head.svg),auto;
}
body
{
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(#abb2b9,#85c1e9);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: blanchedalmond;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    font-weight: 1000;  
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background-color: blanchedalmond;
    color: black;
}

section
{
    position: relative;
    width: 100%;
    min-height: auto; 
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,white,transparent);
    z-index: 1000;
}
section img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
    object-fit: cover;
}
section #tech{
    height: 70vh;
}

.intro
{
    position: relative;
    padding: 100px;
    background: white;
}
.intro img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25px;
    min-height: 25px;
}
.intro h1
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}
.intro p 
{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}

.code
{
    width: 100%;
    height: auto;
    background: white;
    position: relative;
    padding: 10px;
    min-height: 2ovh;
}
.code h1{
    font-size: 3.0em;
    margin-bottom: 10px;
    color: black;
}
.code #box1{
    display: block;
    background-color: blanchedalmond;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}
.code .infobox h3{
    font-size: 2em;
}
.code .infobox p{
    font-size: 1.5em;
}

.climb{
    width: 100%;
    height: auto;
    background: white;
    position: relative;
    padding: 10px;
    min-height: 2ovh;
}
.climb h1{
    font-size: 3.0em;
    margin-bottom: 10px;
    color: black;
}

.social #linkedin
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
.social #github
{
    float: left;
    margin-left: 50%;
    margin-right: auto;
    width: 50px;
    height: 50px;
}