@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(#abb2b9,#85c1e9);
}
body header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body header .logo
{
    color: blanchedalmond;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
body header ul li
{
    list-style: none;
    margin-left: 20px;
}
body header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: blanchedalmond;  
    border-radius: 20px;
}
body header ul li a:hover
{
    background-color: #fff;
    color: black;
}
body header ul li a.active
{
    background-color: #fff;
    color: black;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
}
section img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}
.intro
{
    position: relative;
    padding: 100px;
    background: white;
}
.intro .grav
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25px;
    min-height: 25px;
}
.intro h1
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}
.intro p 
{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}
.intro .ig
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 5px;
}